* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-wrapper {
  padding: 0.5rem;
}

.todo-box {
  border: solid 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px 1px #ddd;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.todo-box > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.list-check-and-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  flex: 2;
}

form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#new-item {
  height: 100%;
  border: none;
  outline: none;
  font-style: italic;
  color: rgba(0, 0, 0, 0.8);
  width: 90%;
}

.list-item-value {
  width: 90%;
  border: none;
  outline: none;
}

.list-item-value:hover {
  cursor: default;
}

.list-item-value:focus {
  cursor: auto;
}

.submit-btn {
  border: none;
  outline: none;
  background-color: transparent;
}

i {
  color: rgba(0, 0, 0, 0.4);
  outline: none;
  border: none;
}

.clear-li {
  text-align: center;
  margin: 0 auto;
  border-bottom: none;
}

.clear-li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.none {
  display: none;
}

.show {
  display: block;
}

@media screen and (min-width: 768px) {
  .todo-box {
    width: 70%;
    margin: 4rem auto 0;
  }
}
